
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">Trang chủ</a>
    <a class="mdl-navigation__link" href="">Khám phá</a>
    <a class="mdl-navigation__link" href="">Đặt phòng</a>
    <a class="mdl-navigation__link" href="">Phương tiện đi lại</a>
    <a class="mdl-navigation__link" href="">Khuyến mãi</a>
    <!-- <a class="mdl-navigation__link" href="">One</a>
    <a class="mdl-navigation__link" href="">Play</a> -->
    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">Về chúng tôi</span>
    <a class="mdl-navigation__link" href="">Chúng tôi là ai?</a>
    <a class="mdl-navigation__link" href="">Thông tin pháp lý</a>
    <a class="mdl-navigation__link" href="">Điều khoản sử dụng</a>
    <a class="mdl-navigation__link" href="">Liên hệ</a>
    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">Tài nguyên và phát triển</span>
    <a class="mdl-navigation__link" href="">Official blog</a>
    <a class="mdl-navigation__link" href="">we travel Việt Nam</a>
    <a class="mdl-navigation__link" href="">we travel Lào</a>
    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">Tham gia cùng chúng tôi</span>
    <a class="mdl-navigation__link" href="">Tuyển dụng</a>
    <a class="mdl-navigation__link" href="">Hợp tác</a>
    <a class="mdl-navigation__link" href="">Đăng kí khuyến mãi</a>
  </nav>

