<div class="android-be-together-section mdl-typography--text-center">
  <div class="logo-font android-slogan">be together. we travel the world.</div>
  <div class="logo-font android-sub-slogan">welcome to we-travel... join us . to break your daily basis . to explore the world . to see what's going on</div>
  <div class="logo-font android-create-character">
    <a href="">
      <img class="trip-advisor-logo" src="../assets/images/trip-advisor-logo.png"> Bạn muốn trốn thoát khỏi cuộc sống thường ngày?</a>
  </div>
</div>
<div class="android-screen-section mdl-typography--text-center">
  <div class="mdl-typography--display-1-color-contrast" style="padding-bottom: 20px;">Du lịch trong nước</div>
  <div class="android-screens">
    <div class="android-tv android-screen">
      <a class="android-image-link" href="">
        <img class="android-screen-image" src="../assets/images/Hanoi-1.jpg">
      </a>
      <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Hà Nội</a>
    </div>
    <div class="android-tv android-screen">
      <a class="android-image-link" href="">
        <img class="android-screen-image" src="../assets/images/Saigon-1.jpg">
      </a>
      <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Tp. Hồ Chí Minh</a>
    </div>
    <div class="android-tv android-screen">
      <a class="android-image-link" href="">
        <img class="android-screen-image" src="../assets/images/Hue.jpg">
      </a>
      <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Huế</a>
    </div>
    <div class="android-tv android-screen">
      <a class="android-image-link" href="">
        <img class="android-screen-image" src="../assets/images/danang-1.jpg">
      </a>
      <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Đà Nẵng</a>
    </div>
    <div class="android-tv android-screen">
      <a class="android-image-link" href="">
        <img class="android-screen-image" src="../assets/images/dalat-1.jpg">
      </a>
      <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Đà Lạt</a>
    </div>
    <div class="android-tv android-screen">
      <a class="android-image-link" href="">
        <img class="android-screen-image" src="../assets/images/phuquoc.jpg">
      </a>
      <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Phú Quốc</a>
    </div>
  </div>
</div>
<div class="android-wear-section">
  <div class="android-wear-band">
    <div class="android-wear-band-text">
      <div class="mdl-typography--display-2 mdl-typography--font-thin">Lorem Ipsum</div>
      <p class="mdl-typography--headline mdl-typography--font-thin">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus tincidunt dolor ut ornare. Donec ut ultricies lectus.
        Sed congue commodo massa vitae cursus.
      </p>
      <p>
        <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
          Click to explore&nbsp;
          <i class="material-icons">chevron_right</i>
        </a>
      </p>
    </div>
  </div>
</div>
<div class="android-customized-section">
  <div class="android-customized-section-text">
    <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Lorem ipsum dolor sit amet</div>
    <p class="mdl-typography--font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus tincidunt dolor ut ornare. Donec ut ultricies lectus.
      Sed congue commodo massa vitae cursus.
      <br>
      <a href="" class="android-link mdl-typography--font-light">Take me anywhere</a>
    </p>
  </div>
  <div class="android-customized-section-image"></div>
</div>
<div class="android-more-section">
  <div class="android-section-title mdl-typography--display-1-color-contrast">Các bài viết trên blog</div>
  <div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="../assets/images/travel-2.jpeg">
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Cẩm nang du lịch</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus tincidunt dolor ut ornare.</span>
      </div>
      <div class="mdl-card__actions">
        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
          Lorem ipsum
          <i class="material-icons">chevron_right</i>
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="../assets/images/articles.jpeg">
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Săn vé máy bay giá rẻ</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Praesent odio ipsum, dapibus nec lacus tincidunt, condimentum interdum massa. Integer vestibulum porttitor sem</span>
      </div>
      <div class="mdl-card__actions">
        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
          Lorem ipsum
          <i class="material-icons">chevron_right</i>
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="../assets/images/article-1.jpg">
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Chiến thuật tiết kiệm cho chuyến đi</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Donec a elit a ipsum tincidunt elementum. Nunc purus nulla, vestibulum eget orci nec, tincidunt pulvinar leo.</span>
      </div>
      <div class="mdl-card__actions">
        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
          Lorem ipsum
          <i class="material-icons">chevron_right</i>
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="../assets/images/article-2.jpg">
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">1000 kiểu sống ảo</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Cras a congue magna. In hac habitasse platea dictumst. Etiam risus orci, dignissim a ullamcorper sed, posuere et
          urna.
        </span>
      </div>
      <div class="mdl-card__actions">
        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
          Lorem ipsum
          <i class="material-icons">chevron_right</i>
        </a>
      </div>
    </div>
  </div>
</div>
